@import './variable.styl'

// @font-face
// font-family 'iconfont' /* project id 1250520 */
// src url('//at.alicdn.com/t/font_1250520_83xgzhovwl9.eot')
// src url('//at.alicdn.com/t/font_1250520_83xgzhovwl9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1250520_83xgzhovwl9.woff2') format('woff2'), url('//at.alicdn.com/t/font_1250520_83xgzhovwl9.woff') format('woff'), url('//at.alicdn.com/t/font_1250520_83xgzhovwl9.ttf') format('truetype'), url('//at.alicdn.com/t/font_1250520_83xgzhovwl9.svg#iconfont') format('svg')
@font-face
  font-family 'iconfont' /* project id 1250520 */
  src url('//at.alicdn.com/t/font_1250520_2zjfwkpykde.eot')
  src url('//at.alicdn.com/t/font_1250520_2zjfwkpykde.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1250520_2zjfwkpykde.woff2') format('woff2'), url('//at.alicdn.com/t/font_1250520_2zjfwkpykde.woff') format('woff'), url('//at.alicdn.com/t/font_1250520_2zjfwkpykde.ttf') format('truetype'), url('//at.alicdn.com/t/font_1250520_2zjfwkpykde.svg#iconfont') format('svg')

.iconfont
  color $color-theme
  font-family 'iconfont' !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -webkit-text-stroke-width 0.2px
  -moz-osx-font-smoothing grayscale